<form [formGroup]="DropDownFormGroup" (ngSubmit)="submitForm()">
  <mat-form-field>
    <mat-label>List</mat-label>
    <mat-select formControlName="list">
      <mat-option *ngFor="let item of dropdownValues" [value]="item.id">
        {{ item.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div style="display: flex">
    <mat-form-field appearance="outline">
      <mat-label>Enter Title</mat-label>
      <input
        type="email"
        matInput
        formControlName="title"
        placeholder="title"
      />
    </mat-form-field>
    <button mat-button color="primary" type="submit">Add to Form</button>
  </div>
</form>

<div *ngFor="let child of childrenList">
  {{ child }}
</div>

<router-outlet></router-outlet>
